.first-color { 
	background: var(--bg1); 
}
	
.second-color { 
	background: var(--bg2); 
}

.third-color { 
	background: var(--bg3); 
}

.fourth-color { 
	background: var(--bg4); 
}

.primary {
  background: var(--bg3);
}

